
/* Use the following css code to add a style to the user icon. 

I need to fix it first in order to actually see it */

/*.job_title_icon {
    
    
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px
    background-color: #3337ab7;
    color: white;
    
    
}

*/